.container{
    margin: 80px 0px;
}
.content-div{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  justify-items:center;
  align-content: center;
  gap: 50px;
}
.price_container{
  border: 1px solid black;
  /* width:200px; */
  margin-bottom: 25px;
  display: flex;
  height:55px;
  text-align: center;
}

.increment,.decrement{
  border: 1px solid black;
  width: 70px;
   padding: 14px 0px;
   text-align: center;
   font-size:24px;
   font-weight: bold;
  
}
.qty-input{
   padding:0px 0px;
   text-align: center;
    font-size:21px;
     border: 1px solid black;
     width: 70px;
     cursor: pointer;
}
.delete-btn{
  width: 50px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bag{
    width: 100px;
    border: 1px solid black;
    height: 100px;
}

.child_1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    font-size: 20px;
}