* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  list-style: none;
  cursor: pointer;
}
.headre{
    text-align: center;
    font-size: 14px;
    background-color: #bf1522;
    color:#fff;
    padding: 10px 0px;
    word-spacing: 4px;
    height: 35px;

}
.memu_img{
  width: 35px;
  height: 35px;
}
.user_login{
    width:30px;
    height: 32px;
}
.Add_card{
    width: 40px;
    height:40px;
}
.serch_img{
    width: 29px;
    height: 29px;
}
.header_child_1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header_3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header_1{
    display: flex;
    font-weight:bold;
    font-size: 17px;
    color: #454545;
    gap: 50px;
}
.parenst{
    display: flex;
    justify-content:space-between;
    padding: 0px 40px;
    /* margin-bottom:20px; */
    height: 80px;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.neesh_logo{
   
    padding: 20px 0px;
    padding-right: 180px;
}

/* nav_end */


.slider{
  overflow: hidden;

}
.slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
.slider figure img{
  float: left;

  width: 20%;
}

@keyframes slider{
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
 95%{
  left: -300%;
 }
 100%{
  left: -400%;
 }
}

/* SLIDER_END_CODE */

h1{
  text-align: center;
  text-transform: uppercase;
  letter-spacing:2px;
  font-family:"Minion Pro";
  font-weight: normal;
  font-size: 40px;
  font-weight: 500;
  margin: 30px 0px;

}
.Femme_text_div{
  text-align: center;
  margin: auto;
  font-size: 17px;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-family: "sans-serif";
  color: #858484;
  width: 80%;
}
.Femme_text{
  line-height:30px;
  padding-bottom:20px;
}
.Femme_text_1{
    line-height:30px;
}


.Femme_text_1{
line-height:30px;
}

/*  */

#info{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  align-content: center;
  margin: 50px 80px;
  gap: 0px;

}
.img_div{
  width: 400px;
  height: 400px;
  border: 2px solid #f2b448;
  border-radius:5px;
}



/* .img_div{
  width: 400px;
  height: 400px;
  border: 2px solid #f2b448;
  border-radius:5px;
} */

 .img_bg{
      width: 400px;
      height: 400px;
      overflow: hidden;
      border: 2px solid #f2b448;
       border-radius:5px;
       object-fit: fill;
    }
   .img_bg .img_div{
      height: inherit;
      width: inherit;
      transition: 0.5s ease;
    }
    .img_bg .img_div:hover{
      transform: scale(1.2);
    }

#pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    font-size: 20px;
}

#pagination button {
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
}
#pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
.discription{
   width: 300px;
   text-align: center;
   font-size: 16px;
   padding: 10px 0px;
   letter-spacing: 1px;
   font-family:sans-serif;
   color: #757575;
   line-height: 21px;
   margin: auto;
}
.title{
  font-size: 25px;
  font-weight: 500;
  letter-spacing:2px;
  padding-top: 13px;
  font-family:"Minion Pro";
  color: #2b2b2b;
  text-align: center;  /* add this */
}

.price{
  font-size: 19px;
  letter-spacing:2px;
  font-weight: bold;
  color:#1e1d1d;
  text-align: center;  /* add this */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;  /* centers all child elements horizontally */
    padding: 15px;
    margin: 10px;
}

.img_card {
width: 400px;
height: 400px;
  border: 2px solid #f2b448;
  border-radius:5px;
  border-radius:4px;
  overflow: hidden;
   border: 1px solid rgb(221, 160, 39);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_card .img_div {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.img_card:hover .img_div {
  transform: scale(1.2);
}



#pagination button {
    padding: 8px 20px;
    padding: 10px 23px;
    border-radius: 5px;
    background-color:black;
    color: #fff;
font-size: 16px;
cursor: pointer;
}

.card-btn {
     
    width:360px;
    height: 52px;
    margin: 15px 0px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #dfaa40;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
     border: 1px solid rgb(218, 150, 15);
    border-radius:2px;
    cursor: pointer;
}

.card-btn:hover {
    background-color:black;
    border: transparent;
    transition: all ease-in-out 0.5s;
} 


/* Code end */


.cardhover{
 width: 550px;
 height: 350px;
 background-color: #000;
 position: relative;
 overflow: hidden;

}
.cardhover span{
  height: 100%;
  left: 0;
  background: url(../Utiles/bg_2.webp);
  position: absolute;
  /* background-repeat: no-repeat; */
  background-size: cover;
  width: 100%;
  transition: 1s;
}

.cardhover span:nth-child(1){
  z-index: 10;
  width: 25%;
  transition-delay:0;

}
.cardhover span:nth-child(2){
  z-index: 9;
  width: 50%;
  transition-delay:0.3s;
  
}
.cardhover span:nth-child(3){
  z-index: 8;
  width: 75%;
  transition-delay:0.6s;
  
}
.cardhover span:nth-child(4){
  z-index: 7;
  width: 100%;
  transition-delay:0.8s;

  
}
.cardhover:hover span{
  transform:translateY(-100%);
  transition: 1s;
}

.cardhover:hover span:nth-child(1){
  transition-delay: 0.8s;
}
.cardhover:hover span:nth-child(2){
  transition-delay: 0.6s;
}
.cardhover:hover span:nth-child(3){
  transition-delay: 0.3s;
}
.cardhover:hover span:nth-child(4){
  transition-delay: 0s;
}

.content{
  color: #fff;
  text-align: center;
  padding:0px 20px;
  margin:40px 0px;
  width: 100%;
  box-sizing: border-box;
  transform: translateY(100%);
  transition: 2s;
}
.content .paragraph{
  color: #999;
  margin: 20px 0px;
  letter-spacing: 1px;
  font-size: 18px;

}
.content .btn2{
  width: 140px;
  height: 40px;
  text-decoration:none ;
  border: 1px solid #fff;
  display: block;
  margin: auto;
  border-radius: 2px;
  padding: 10px;
  font-size: 16px;
  color:black;
}

.cardhover:hover .content{
  transform: translateY(0%);
}

.head{
  letter-spacing: 1px;
  margin: 18px 0px;
}
.Luxe_Collection{
  display: flex;
  justify-content:center;
  margin: 90px 0px;
  /* align-items: center; */
  gap:100px;
}
.Luxe_Collection_text{
  width: 600px;
  margin: auto;
}
.Luxe_Collection_head{
  font-weight: bold;
  color: #b19880;
  padding: 14px 0px;
  font-size: 35px;
  text-transform:uppercase;
  font-family:"Minion Pro";

}
.Luxe_Collection_text{
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1px;
   font-family:"Minion Pro";
  word-spacing: 2px;
  color:#61605f;
}
.btn_4{
  width: 140px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  font-size: 16px;
  padding: 5px 0px;
  margin: 19px 0px;
  height: 48px;
}


/*2nd code */

.cardhover_1{
 width: 550px;
 height: 350px;
 background-color: #000;
 position: relative;
 overflow: hidden;

}
.cardhover_1 span{
  height: 100%;
  left: 0;
  background: url(../Utiles/BCollection_D_1_1700x.webp);
  position: absolute;
  /* background-repeat: no-repeat; */
  background-size: cover;
  width: 100%;
  transition: 1s;
}

.cardhover_1 span:nth-child(1){
  z-index: 10;
  width: 25%;
  transition-delay:0;

}
.cardhover_1 span:nth-child(2){
  z-index: 9;
  width: 50%;
  transition-delay:0.3s;
  
}
.cardhover_1 span:nth-child(3){
  z-index: 8;
  width: 75%;
  transition-delay:0.6s;
  
}
.cardhover_1 span:nth-child(4){
  z-index: 7;
  width: 100%;
  transition-delay:0.8s;

  
}
.cardhover_1:hover span{
  transform:translateY(-100%);
  transition: 1s;
}

.cardhover_1:hover span:nth-child(1){
  transition-delay: 0.8s;
}
.cardhover_1:hover span:nth-child(2){
  transition-delay: 0.6s;
}
.cardhover_1:hover span:nth-child(3){
  transition-delay: 0.3s;
}
.cardhover_1:hover span:nth-child(4){
  transition-delay: 0s;
}

.content_1{
  color: #fff;
  text-align: center;
  padding:0px 20px;
  margin:40px 0px;
  width: 100%;
  box-sizing: border-box;
  transform: translateY(100%);
  transition: 2s;
}
.content_1 .paragraph{
  color: #999;
  margin: 20px 0px;
  letter-spacing: 1px;
  font-size: 18px;

}
.content_1 .btn2{
  width: 140px;
  height: 40px;
  text-decoration:none ;
  border: 1px solid #fff;
  display: block;
  margin: auto;
  border-radius: 2px;
  padding: 10px;
  font-size: 16px;
  color:black;
}

.cardhover_1:hover .content_1{
  transform: translateY(0%);
}

.head{
  letter-spacing: 1px;
  margin: 18px 0px;
}

/* 3rd code */

.cardhover_2{
 width: 550px;
 height: 350px;
 background-color: #000;
 position: relative;
 overflow: hidden;

}
.cardhover_2 span{
  height: 100%;
  left: 0;
  background: url(../Utiles/bg_3.webp);
  position: absolute;
  /* background-repeat: no-repeat; */
  background-size: cover;
  width: 100%;
  transition: 1s;
}

.cardhover_2 span:nth-child(1){
  z-index: 10;
  width: 25%;
  transition-delay:0;

}
.cardhover_2 span:nth-child(2){
  z-index: 9;
  width: 50%;
  transition-delay:0.3s;
  
}
.cardhover_2 span:nth-child(3){
  z-index: 8;
  width: 75%;
  transition-delay:0.6s;
  
}
.cardhover_2 span:nth-child(4){
  z-index: 7;
  width: 100%;
  transition-delay:0.8s;

  
}
.cardhover_2:hover span{
  transform:translateY(-100%);
  transition: 1s;
}

.cardhover_2:hover span:nth-child(1){
  transition-delay: 0.8s;
}
.cardhover_2:hover span:nth-child(2){
  transition-delay: 0.6s;
}
.cardhover_2:hover span:nth-child(3){
  transition-delay: 0.3s;
}
.cardhover_2:hover span:nth-child(4){
  transition-delay: 0s;
}

.content_2{
  color: #fff;
  text-align: center;
  padding:0px 20px;
  margin:40px 0px;
  width: 100%;
  box-sizing: border-box;
  transform: translateY(100%);
  transition: 2s;
}
.content_2 .paragraph{
  color: #999;
  margin: 20px 0px;
  letter-spacing: 1px;
  font-size: 18px;

}
.content_2 .btn2{
  width: 140px;
  height: 40px;
  text-decoration:none ;
  border: 1px solid #fff;
  display: block;
  margin: auto;
  border-radius: 2px;
  padding: 10px;
  font-size: 16px;
  color:black;
}

.cardhover_2:hover .content_2{
  transform: translateY(0%);
}

.head{
  letter-spacing: 1px;
  margin: 18px 0px;
}




/* 3rd code */


/* FOOTer */

.footer_img_logo{
    width: 220px;
    height: 200px;
}
.footer_main1{
    display: flex;
    justify-content:center;
    gap: 180px;
}

.footer{
    height: 350px;
    background-color: #393939;
    color: #fff;
      padding: 50px 60px;
   
}
.Touch_text{
    font-weight:550;
    font-size: 16px;
    padding: 6px 0px;
    letter-spacing: 0.2px;
    white-space: 2px;
      color: #9c9b9b;
}
.Touch_text_1 ,.Policies_text_1,.Subscribe_text{
    color:#fff;
     font-weight:550;
    font-size: 16px;
    padding: 5px 0px;
    letter-spacing: 0.1px;
    white-space: 2px;
    
}
.Policies_text{
     font-weight:550;
    font-size: 16px;
    padding: 9px 0px;
    letter-spacing: 0.1px;
    white-space: 2px;
    color: #9c9b9b;
}
.Subscribe_text_2{
     font-weight:550;
    font-size: 16px;
    padding: 12px 0px;
    line-height: 23px;
    letter-spacing: 0.1px;
    white-space: 2px;
    color: #9c9b9b;
}
.footerlogo_img{
    margin: 6px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.information_input{
 width:310px;
 border: 1px solid #fff ;
 padding: 14px 10px;
 color: #fff !important;
 background-color:#4e4c3f;
 font-size: 18px;
 height: 48px;
 margin: 10px 0px;
}
.Subscribe_button{
    margin: 10px 0px;
    width: 150px;
    border: transparent;
    background-color: #d8a84e;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    height: 50px;
}
.COPYRIGHT_text{
    text-align: center;
   color: #c5c0c0;
   white-space: 2px;
    margin: 30px 0px;
     font-family:"Minion Pro";
}
/* FOOTER END */