* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  list-style: none;
  cursor: pointer;
}
.headre{
    text-align: center;
    font-size: 14px;
    background-color: #bf1522;
    color:#fff;
    padding: 10px 0px;
    word-spacing: 4px;
    height: 35px;

}
.memu_img{
  width: 35px;
  height: 35px;
}
.user_login{
    width:30px;
    height: 32px;
}
.Add_card{
    width: 40px;
    height:40px;
}
.serch_img{
    width: 29px;
    height: 29px;
}
.header_child_1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header_3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header_1{
    display: flex;
    font-weight:bold;
    font-size: 17px;
    color: #454545;
    gap: 50px;
}
.parenst{
    display: flex;
    justify-content:space-between;
    padding: 0px 40px;
    /* margin-bottom:20px; */
    height: 80px;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.neesh_logo{
   
    padding: 20px 0px;
    padding-right: 180px;
}
/* Nav_ENd */
.Ouer_stroy{
    text-align: center;
     font-size: 39px;
     font-weight: normal;
     text-transform: uppercase;
     letter-spacing: 2px;
     font-family:"Minion Pro";
}
.Ouerstroy_text{
    text-align: center;
    padding: 15px 0px;
    font-weight: bold;
    word-spacing: 2px;
    color: #4e4f50;
    letter-spacing:0.5px;
   
}
.Ouerstroy_text_1{
    text-align: center;
    margin: auto;
    width: 70%;
}
.prents_main_div_1{
    margin: 40px 0px;
}