/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  list-style: none;
  cursor: pointer;
}

/* Header */
.headre {
  text-align: center;
  font-size: 14px;
  background-color: #bf1522;
  color: #fff;
  padding: 10px 0;
  word-spacing: 4px;
  height: 35px;
}

.memu_img {
  width: 35px;
  height: 35px;
}

.user_login {
  width: 30px;
  height: 32px;
}

.Add_card {
  width: 40px;
  height: 40px;
}

.serch_img {
  width: 29px;
  height: 29px;
}

.header_child_1,
.header_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header_1 {
  display: flex;
  font-weight: bold;
  font-size: 17px;
  color: #454545;
  gap: 50px;
}

.parenst {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  height: 80px;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.neesh_logo {
  padding: 20px 0;
  padding-right: 180px;
}

/* Our Story */
.Ouer_stroy {
  text-align: center;
  font-size: 39px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Minion Pro";
}

.Ouerstroy_text {
  text-align: center;
  padding: 16px 0;
  font-weight: bold;
  word-spacing: 2px;
  color: #4e4f50;
  letter-spacing: 0.5px;
}

.Ouerstroy_text_1 {
  text-align: center;
  margin: auto;
  width: 70%;
  font-size: 16px;
  color: #616666;
  word-spacing: 5px;
  line-height: 24px;
}

.prents_main_div_1 {
  margin: 70px 0;
}

/* Founder Section */
.F_Chand_img,
.Heritage_img {
  width: 480px;
  height: 380px;
}

.F_Chand_head {
  font-size: 36px;
  font-family: "Minion Pro";
  width: 480px;
  padding: 20px 0;
  text-align: start;
  margin: auto;
  color: #000d22;
  word-spacing: 5px;
  line-height:36px;
}

.F_Chand_text,
.F_Chand_text_1 {
  font-size: 16px;
  text-align:start;
  width: 520px;
  padding: 20px 0;
  margin: auto;
  color: #616666;
  word-spacing: 5px;
  line-height: 28px;
}

.prents_main_div_2,
.prents_main_div_3,
.prents_main_div_4,
.prents_main_div_5 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  gap: 90px;
  width: 60%;
  padding: 40px 0;
}

.Heritage_head,
.famed_head {
  font-size: 36px;
  font-family: "Minion Pro";
  width: 480px;
  padding: 20px 0;
  text-align: start;
  margin: auto;
  color:#000d22;
  word-spacing: 5px;
  line-height: 36px;
}

.Heritage_text,
.famed_text_1 {
  font-size: 16px;
  text-align:start;
  width: 500px;
  padding: 12px 0;
  margin: auto;
  color: #616666;
  word-spacing: 5px;
  line-height: 28px;
}

.prents_6_video {
  border: 5px solid #616666;
  border-top: none;
  border-left: none;
}

.Prents_childdiv_6 {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10px 0 80px;
  gap: 50px;
}

/* Footer */
.footer {
  height: 350px;
  background-color: #393939;
  color: #fff;
  padding: 50px 60px;
}

.footer_main1 {
  display: flex;
  justify-content: center;
  gap: 180px;
}

.footer_img_logo {
  width: 220px;
  height: 200px;
}

.Touch_text,
.Policies_text,
.Subscribe_text_2 {
  font-weight: 550;
  font-size: 16px;
  color: #9c9b9b;
  padding: 6px 0;
}

.Touch_text_1,
.Policies_text_1,
.Subscribe_text {
  font-weight: 550;
  font-size: 16px;
  padding: 5px 0;
  color: #fff;
}

.footerlogo_img {
  margin: 6px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.information_input {
  width: 310px;
  border: 1px solid #fff;
  padding: 14px 10px;
  background-color: #4e4c3f;
  font-size: 18px;
  height: 48px;
  margin: 10px 0;
  color: #fff !important;
}

.Subscribe_button {
  margin: 10px 0;
  width: 150px;
  background-color: #d8a84e;
  border: none;
  color: #fff;
  height: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.COPYRIGHT_text {
  text-align: center;
  color: #c5c0c0;
  margin: 30px 0;
  font-family: "Minion Pro";
}
