
/* Our Story */
.Ouer_stroy {
  text-align: center;
  font-size: 39px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Minion Pro";
}

.Ouerstroy_text {
  text-align: center;
  padding: 16px 0;
  font-weight: bold;
  word-spacing: 2px;
  color: #4e4f50;
  letter-spacing: 0.5px;
}

.Ouerstroy_text_1 {
  text-align: center;
  margin: auto;
  width: 70%;
  font-size: 16px;
  color: #616666;
  word-spacing: 5px;
  line-height: 24px;
}

.prents_main_div_1 {
  margin: 70px 0;
}

/* Founder Section */
.F_Chand_img,
.Heritage_img {
  width: 480px;
  height: 380px;
}

.F_Chand_head {
  font-size: 36px;
  font-family: "Minion Pro";
  width: 480px;
  padding: 20px 0;
  text-align: start;
  margin: auto;
  color: #000d22;
  word-spacing: 5px;
  line-height:36px;
}

.F_Chand_text,
.F_Chand_text_1 {
  font-size: 16px;
  text-align:start;
  width: 520px;
  padding: 20px 0;
  margin: auto;
  color: #616666;
  word-spacing: 5px;
  line-height: 28px;
}

.prents_main_div_2,
.prents_main_div_3,
.prents_main_div_4,
.prents_main_div_5 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  gap: 90px;
  width: 60%;
  padding: 40px 0;
}

.Heritage_head,
.famed_head {
  font-size: 36px;
  font-family: "Minion Pro";
  width: 480px;
  padding: 20px 0;
  text-align: start;
  margin: auto;
  color:#000d22;
  word-spacing: 5px;
  line-height: 36px;
}

.Heritage_text,
.famed_text_1 {
  font-size: 16px;
  text-align:start;
  width: 500px;
  padding: 12px 0;
  margin: auto;
  color: #616666;
  word-spacing: 5px;
  line-height: 28px;
}

.prents_6_video {
  border: 5px solid #616666;
  border-top: none;
  border-left: none;
}

.Prents_childdiv_6 {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10px 0 80px;
  gap: 50px;
}

/* MEDIA QUERY */

@media (max-width: 320px){
  .prents_main_div_2, .prents_main_div_3, .prents_main_div_4, .prents_main_div_5 {
    display:flex !important;
    flex-direction: column !important;
    margin:0;
    gap:0px;
    width:100%;
    padding: 20px 0;
}
.prents_main_div_1 {
    margin: 39px 0;
}
.Ouer_stroy {
    text-align: center;
    font-size:29px;
}
.Ouerstroy_text {
    text-align: center;
    padding: 19px 3px;
    font-size: 14px;
    font-weight: bold;
    word-spacing: 2px;
    color: #4e4f50;
    letter-spacing: 0.5px;
}
.F_Chand_img, .Heritage_img {
    width:300px !important;
    height: 315px !important;
    margin: 0px !important;
}
    .F_Chand_head, .Heritage_head, .famed_head {
        font-size: 27px !important;
        width: 261px !important;
        padding: 13px 0 !important;
        text-align:center !important;
        margin: auto !important;
        line-height: 26px !important;
    }
   
.F_Chand_text, .F_Chand_text_1 {
    font-size: 16px !important;
    text-align: center !important;
    width:270px !important;
    padding: 20px 0 !important;
    margin: auto !important;
    word-spacing: 5px !important;
    line-height: 28px !important;
}
.Heritage_text, .famed_text_1 {
    font-size: 16px !important;
    text-align: center !important;
    width:270px !important;
    padding: 12px 0 !important;
    margin: auto !important;
    word-spacing: 5px !important;
    line-height: 28px !important;
}
    .Prents_childdiv_6 {
        display: grid !important;
        justify-content: center !important;
        align-content: center !important;
        margin: 0px 0 27px !important;
        gap: 20px !important;
    }
.prents_6_video>video{
  width: 300px;
}
}
 /* @media (min-width:321px) and (max-width:380px){
  
 } */

   @media (min-width: 421px) and (max-width:440px){
 .prents_main_div_2, .prents_main_div_3, .prents_main_div_4, .prents_main_div_5 {
    display:flex;
    flex-direction: column;
    margin:0;
    gap:0px;
    width:100%;
    padding: 20px 0;
}
.prents_main_div_1 {
    margin: 39px 0;
}
.Ouer_stroy {
    text-align: center;
    font-size:29px;
}
.Ouerstroy_text {
    text-align: center;
    padding: 19px 3px;
    font-size: 14px;
    font-weight: bold;
    word-spacing: 2px;
    color: #4e4f50;
    letter-spacing: 0.5px;
}
    .F_Chand_img, .Heritage_img {
        width: 300px;
        height: 315px;
        margin: 0px 60px;
    }
      .F_Chand_head, .Heritage_head, .famed_head {
        font-size:30px;
        font-family: "Minion Pro";
        width: 336px;
        padding: 13px 0;
        text-align: center;
        margin: auto;
        line-height: 35px;
    }
   
.F_Chand_text, .F_Chand_text_1 {
    font-size: 16px;
    text-align: center;
    width:370px;
    padding: 20px 0;
    margin: auto;
    color: #616666;
    word-spacing: 5px;
    line-height: 28px;
}
.Heritage_text, .famed_text_1 {
    font-size: 16px;
    text-align: center;
    width:370px;
    padding: 12px 0;
    margin: auto;
    color: #616666;
    word-spacing: 5px;
    line-height: 28px;
}
    .Prents_childdiv_6 {
        display: grid;
        justify-content: center;
        align-content: center;
        margin: 0px 0 27px;
        gap: 20px;
    }
.prents_6_video>video{
  width: 300px;
}
  }

  @media (max-width: 420px){
     .prents_main_div_2, .prents_main_div_3, .prents_main_div_4, .prents_main_div_5 {
    display:flex;
    flex-direction: column;
    margin:0;
    gap:0px;
    width:100%;
    padding: 20px 0;
}
.Ouerstroy_text_1 {
    width: 81%;
    font-size: 16px;
}
.prents_main_div_1 {
    margin: 39px 0;
}
.Ouer_stroy {
    text-align: center;
    font-size:29px;
}
.Ouerstroy_text {
    text-align: center;
    padding: 19px 14px;
    font-size: 14px;
    font-weight: bold;
    word-spacing: 2px;
    color: #4e4f50;
    letter-spacing: 0.5px;
}
.F_Chand_img, .Heritage_img {
    width:300px;
    height: 315px;
    margin: 0px 44px
}
    .F_Chand_head, .Heritage_head, .famed_head {
        font-size:23px;
        width: 334px;
        padding: 13px 0;
        text-align: center;
        margin: auto;
        line-height:28px;
    }
   
.F_Chand_text, .F_Chand_text_1 {
    font-size: 16px;
    text-align: center;
    width:300px;
    padding: 20px 0;
    margin: auto;
    word-spacing: 5px;
    line-height: 28px;
}
.Heritage_text, .famed_text_1 {
    font-size: 16px;
    text-align: center;
    width:300px;
    padding: 12px 0;
    margin: auto;
    word-spacing: 5px;
    line-height: 28px;
}
    .Prents_childdiv_6 {
        display: grid;
        justify-content: center;
        align-content: center;
        margin: 0px 0 27px;
        gap: 20px;
    }
.prents_6_video>video{
  width: 300px;
}
  }
 @media (min-width: 421px) and (max-width:840px){
   .prents_main_div_2, .prents_main_div_3, .prents_main_div_4, .prents_main_div_5 {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: auto;
    gap:30px;
    width: 100% !important;
    padding: 40px 0;
}
.F_Chand_img, .Heritage_img {
    width: 605px;
    height: 405px;
    margin: 0px 62px;
}
.Prents_childdiv_6 {
    display:flex;
    overflow: scroll;
    margin: auto;
    width:90%;
    justify-content:start;
    scrollbar-width: none;
    align-content:start;
    margin: 10px 0px  50px;
    gap:30px;
}
.F_Chand_head {
    line-height: 44px;
}
 }