
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Website_main_logo{
 display: grid;
 justify-content:center;
 align-items: center;
 margin-bottom: 12px;
}
.Website_main_logo>img{
  width: 180px;
}
.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px; 
}

.login-page {
  width: 540px;
  height:600px;
  padding: 30px 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2),0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background: #fff;
  border-radius: 10px;
}


.login-page .heding{
    text-align: center;
    font-size:25px;
    color: #451616;
    margin-bottom: 30px;
}


.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  height: 60px;
  padding: 20px 15px 10px;
  font-size: 22px;
  border-radius: 5px;
  border: none;
  background: #f2f2f2;
  outline: none;
  transition: border 0.2s ease;
}

/* Label design */
.input-box label {
  position: absolute;
  top: 18px;
  left: 20px;
  color: #6a6969;
  font-size: 20px;
  pointer-events: none;
  transition: 0.2s ease all;
  background-color: transparent;
  padding: 0 5px;
}

/* Floating label on focus or if value is entered */
.input-box input:focus + label,
.input-box input:not(:placeholder-shown) + label {
  top: -10px;
  left: 1px;
  white-space: 5px;
  font-size: 20px;
  background-color:  #f7f4f4;
  color: #333;
}


.input-box input:focus {
  border: 1px solid #fda901ff;
}

.login-page button{
    width: 100%;
    border-radius: 5px;
    height: 60px;
    font-size: 18px;
    padding: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    background:  #fda901ff;
    border: 0;
    color: #ffff;
    text-transform: uppercase;
    transition: all ease .5s;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-page button:hover{
      background:black;
}

.login-page p{
    color: #b3b3b3;
    font-size: 23px;
    padding: 9px 0px;
}

.login-page p a{
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
    color: #ef7036;
}
 
