
/* nav_code_end */
.Luxury_perfumes_img{
    width: 100%;
    height: 430px;
}

.heading{
    text-align: center;
     padding-top:40px;
     font-family:"Minion Pro";
    text-transform: uppercase;
    color: #242323;
    word-spacing:6px;
    font-size: 39px;
    font-weight:normal;

}
/* CART_IMG CODE */

 .imgContainer {
      width:400px;
      height:390px;
      overflow: hidden;
      border-radius:5px;
      border: 1px solid rgb(221, 160, 39);
      position: relative;
    }
    .slider {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .slider figure {
      display: flex;
      margin: 0;
      padding: 0;
      transition: transform 0.5s ease-in-out;
    }
    .slider figure img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      flex-shrink: 0;
    }
    .dots {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 5px;
    }
    .dot {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: rgba(255,255,255,0.7);
      cursor: pointer;
    }
    .dot.active {
      background: rgba(255,255,255,1);
    }
    .card {
      margin-bottom: 2em;
    }

   #info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 10px;
  margin: auto;
  width: 90%;
  padding-top:20px;
}
.title_head{
  text-align: center;
  padding: 15px 0;
  margin: auto;
  width: 80%;
  font-size: 23px;
  word-spacing: 1px;
  font-family: "Minion Pro";
  text-transform: uppercase;
  color: #4b4949; 
}


.price{
  text-align: center;
  font-size: 19px;
  font-weight: bold;
 color:#3d3c3c;
  
}


.paginationBox {
  margin-bottom:50px;
  text-align: center;
  font-size: 20px;
}

.paginationBox button {
  padding: 13px 20px;
  margin: 0 10px;
  border: none;
  background:black;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.paginationBox button:disabled {
  background: #aaaaaa;
  cursor: not-allowed;
}

.paginationBox span {
  padding: 11px 12px;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  color: black;
  font-weight: bold;
}

.btn_div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.addBtn{
    width:360px;
    height: 52px;
    margin: 15px 0px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #dfaa40;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
     border: 1px solid rgb(218, 150, 15);
    border-radius:2px;
    cursor: pointer;
}

.addBtn:hover {
    background-color:black;
    border: transparent;
    transition: all ease-in-out 0.5s;
}


.myVideo {
      width:100%;
    height: 650px;      /* jitni height chahiye utni do */
    object-fit:cover; /* poora video dikhega, crop nahi hoga */
    background:#aa90bf; /* video crop ho kar achha dikhayega */
}
/* 3rd code */

.custom-dropdown {
  width: 190px;
  height: 40px;
  position: relative;
  font-family: Arial, sans-serif;
  display:grid;
 margin:0px 110px;
 margin-top: 30px;
 margin-bottom: 10px;
  font-size: 17px;

}

.dropdown-selected {
  padding: 10px;
  background: #3e2324;
  border: 3px solid #f2b448;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}

.dropdown-selected::after {
  content: "▼";
  float: right;
}

.dropdown-options {
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  display: none;
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 10;
}

.dropdown-options li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-options li:hover {
  background: #3e2324;
  color: #fff;
}
.dropdown-selected{
  font-size:17px !important;
  letter-spacing: 1px;
}

/*  */

