* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  list-style: none;
  cursor: pointer;
}
.headre{
    text-align: center;
    font-size: 14px;
    background-color: #bf1522;
    color:#fff;
    padding: 10px 0px;
    word-spacing: 4px;
    height: 35px;

}
.memu_img{
  width: 35px;
  height: 35px;
}
.user_login{
    width:30px;
    height: 32px;
}
.Add_card{
    width: 40px;
    height:40px;
}
.serch_img{
    width: 29px;
    height: 29px;
}
.header_child_1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header_3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header_1{
    display: flex;
    font-weight:bold;
    font-size: 17px;
    color: #454545;
    gap: 50px;
}
.parenst{
    display: flex;
    justify-content:space-between;
    padding: 0px 40px;
    /* margin-bottom:20px; */
    height: 80px;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.neesh_logo{
   
    padding: 20px 0px;
    padding-right: 180px;
}
/* Navbar_End_code */


/* <!--prents_main_div --> */


 .main {
  position: relative;
  width: 580px; /* change as needed */
  overflow: hidden;
  margin: 20px auto;
  border: 1px solid  #ecd25f; 
  border-radius:5px;
  height: 610px;
  transition: opacity 0.1s ease-in-out;

}
.thumb-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* space between arrows & thumbnails */
  margin-top: 10px;
}

.thumb-wrapper .arrow {
  font-size: 1.5rem;
  color: #eac004;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  position: static; /* remove absolute */
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}

.slider-image {
  width: 580px;
  height: 610px;
  flex-shrink: 0;
  user-select: none;
}

.thumbs {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.thumb-image {
  width: 85px;
  height: 85px;
  object-fit: cover;
  cursor: pointer;
   border: 3px solid #eac004; 
  transition: 0.3s;
  border-radius: 5px;
}

.thumb-image:hover {
  opacity:0.5;
}

/* code_end */

/* 2nd_div */
.cp_img{
  width: 80px;
  height: 80px;
}
.prents_main_div{
  display: flex;
  justify-content: center;
  padding: 60px 0px;
  gap: 70px;
  margin: auto;
  width: 80%;
}
.Song_Serenity_child_1{
  display: flex;
  justify-content:start;
  align-items: center;
  gap: 90px;
  margin-bottom:40px;

}
span{
  font-size: 22px;
  /* font-weight: bold; */
  color: #7f8988;
}
.p1{
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
   color: #7f8988;

}
.p2{
   color: #7f8988;
   margin:9px 0px;
   font-size: 16px;
}
.p3{
  font-size: 22px;
   color: #7f8988;
   letter-spacing: 1px;
}
.p4{
  border: 1px solid red;
  color: red;
  width:60px;
  text-align: center;
  padding: 5px 0px;
  margin: 15px 35px;
  height: 30px;
}
.p5{
   color: #7f8988;
   font-size: 14px;
   word-spacing: 2px;
}
.Song_Serenity_head{
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 500;
  margin: 20px 0px;
  font-family: "Minion Pro";
  letter-spacing: 2px;
}
.btn_1{
  width: 450px;
  text-transform: uppercase;
  word-spacing: 2px;
  font-size: 15px;
  background-color: #e0ab41;
  color: #fff;
  border:2px solid #e0ab41;
  font-weight: bold;
  height: 55px;
}

.btn_1:hover{
  background-color: black;
  transition: all ease-in-out 0.5s;
}

.offer{
 width: 450px;
height: 120px;
border-radius: 7px;
padding: 0px 30px;
border: 1px solid #c6ffba;
background-color: #c6ffba;
margin: 30px 0px;
}
.off_img{
  width: 20px;
  height:20px;
}
.offf_1{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 8px 0px;
  font-size: 14px;
  border: 1px solid #e7fee1;
  background-color: #e7fee1;
  height: 36px;
  color: #605f5f;
  margin: 14px 0px;
  width: 380px;

}
.offf_2{
    display: flex;
  justify-content: center;
  gap: 20px;
  padding: 8px 0px;
  font-size: 14px;
  color: #605f5f;
 border: 1px solid #e7fee1;
  background-color: #e7fee1;
  height: 36px;
  width: 380px;
}
.p6{
  font-size: 22px;
  color: #393b3a;
  text-transform: uppercase;
  font-family:"Minion Pro";
  word-spacing: 1px;
}
.Song_Serenity_child_3{
  margin-top:50px;
}
.Song_Serenity_child_4{
  display: flex;
  margin: 30px 0px;
  justify-content:start;
  gap: 30px;
  font-size: 15px;
  line-height:26px;
    color: #393b3a;

}
.Song_Serenity_child_5{
  border: 1px solid black;
  height: 186px;
  width: 450px;

}
.p7{
  width: 360px;
}
.p8{
  border: 1px solid black;
  height: 46px;
  font-weight: bold;
  font-size:25px;
  padding: 6px 0px;
  letter-spacing: 2px ;
  text-align: center;
  background-color: #000;
  color: #fff;
}
.p9{
  text-align: center;
  margin: 20px 10px;
  font-size: 16px;
   color: #393b3a;
  line-height: 22px;
}
/* code _end */

.Elegance_div{
  height: 150px;
  width: 310px;
}
.Elegance_text{
  margin: 15px 0px;
  word-spacing: 2px;
    font-family: "Minion Pro";
  text-align: center;
  letter-spacing: 1px;
 color: #111212;
 line-height: 23px;
  font-size: 19px;

}

.Elegance_text_1{
  height: 90px;
  width: 300px;
   margin: 10px 0px;
     font-family: "Minion Pro";
   word-spacing: 2px;
   line-height: 23px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 19px;
   color: #111212;
}
.Elegance_div_1{
  margin-top: 100px;
}
.parents_div_2{
  display:flex;
  margin:30px 0px;
  justify-content:center;
 
  gap: 120px;
}
.black_star{
  margin: 0px 90px;
}
.Elegance_title{
  text-align: center;
    font-family: "Minion Pro";
  font-size:19px;
  word-spacing: 2px;
  color: #515151;
  letter-spacing: 1px;
  
}
/* .prents_6_video{
  border: 1px solid black;
} */
.parrnts_div3rd{
  display: grid;
  justify-content: center;
}
.parents_3rdchild{
  text-align: center;
  margin-top:40px;
    font-family: "Minion Pro";
  font-size: 25px;
  word-spacing: 6px;
 
}
.essence_1{
  margin-bottom: 7px;
}
.Song_Serenity{
  width: 75%;
  margin: auto;
  padding-top: 30px;
}
.Song_Serenity_div{
  display: grid;
  justify-content: center;
  align-items: center;
}


/* ===== Slider Container ===== */
.Ouer_stroy_slider{
    width: 65%;
    height: 670px;
    position: relative;
    overflow: hidden;
    margin: 40px auto !important;
}

/* ===== Slide Styles ===== */
.ouer_slide_child{
    position: absolute;
    width:100%;
   height: 670px;
    background-size: cover;
    background-position: center;
    /* opacity: 0; */
    transform: translateZ(0); /* GPU acceleration */
   animation: fade 9s infinite ease-in-out;
}

/* ===== Staggered Delay for Each Slide ===== */
.ouer_slide_child:nth-child(1){ animation-delay: 0s; }
.ouer_slide_child:nth-child(2){ animation-delay: 2.25s; }
.ouer_slide_child:nth-child(3){ animation-delay: 4.5s; }
.ouer_slide_child:nth-child(4){ animation-delay: 6.75s; }

/* ===== Keyframes for Smooth Fade ===== */
@keyframes fade{
    0% { opacity: 0; }
    5% { opacity: 1; }
    25% { opacity: 1; }
    30% { opacity: 0; }
    100% { opacity: 0; }
}

.Ouer_stroy_slider:hover .ouer_slide_child{
    animation-play-state: paused;
}
.our_story_bottumtext{
    text-align: center;
    font-size: 38px;
    margin: 50px 0px;
    letter-spacing: 2px;
    color: #393939;
}
.th_prents_div{
  margin:0px 0px;
  text-align: center;
}
.Asensual_head{
  font-family:"futura";
  font-size: 37px;
  font-weight: 500;
  margin: 18px 0px;
  letter-spacing: 2px;
  color: #0b0b0b;
}
.Asensual_text{
  width: 70%;
  font-family:"futura";
  font-size: 18px;
  font-weight: bold;
  margin: auto;
  word-spacing: 1px;

    color: #2c2c2c;
}